@model IEnumerable<Employee>

@{
    int Count = 1;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Salary</th>
            <th scope="col">Date of bird</th>
            <th scope="col">Phone</th>
            <th scope="col">Department</th>
            <th scope="col">#</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Salary</td>
                <td>@item.DayofBird</td>
                <td>@item.Phone</td>
                <td>@item.Department</td>
                <td><a>Edit</a></td>
                <td><a>Delet</a></td>
            </tr>
        }
    </tbody>
</table>